# IDE folders
.idea/
.vs/
*.swp
*.swo
*~

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP
!config/GL5E4F/GL5E4F.map
*.iso

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Logs and temporary files
*.log
dtk-split.log

# Miscellaneous
/*.txt
*.exe
